
/* general css */
body{
    background-color: rgb(160, 96, 206);
}

#container{
    height: 100%;
    width: 100%;
    text-align: center;
}


/* buttons */
#circle{
    display: flex;
    justify-content: center;
    align-items: center; 
}




#container-items{
    width: 550px;
    height: 500px;
    background-color: ivory;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    margin-top:15px ;
    border-radius: 10%;
}



 /*  quarter redius shapes : referenced from
  https://stackoverflow.com/questions/16263358/quarter-of-a-ring-with-css-and-html */

.top-left {    
    height: 200px;
    width: 200px;
    border-radius: 200px 0 0 0;
    background: green;
    border: 7px solid;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
  }


.top-right{
    height: 200px;
    width: 200px;
    border-radius: 0 200px 0 0;
    background: red;
    border: 7px solid;
    margin-left: 1px;
    transform: rotate(180deg);
    margin-bottom: 1px;
    cursor: pointer;
}
  

.bottom-left{
    height: 200px;
    width: 200px;
    border-radius: 0 0 0 200px;
    background: yellow;
    border: 7px solid;
    margin-right:1px;
    margin-top: 1px;
    transform: rotate(180deg);
    cursor: pointer;
}

.bottom-right{
    height: 200px;
    width: 200px;
    border-radius: 0 0 200px 0;
    background: blue;
    border: 7px solid;
    margin-left: 1px;
    margin-top: 1px;
    cursor: pointer;
}


.small-circle{
    width: 80px;
    height:80px;
    position: absolute;
    background:rgb(44, 42, 42);
    border-radius: 50%;
    border: 7px solid;
    z-index: 2;
    cursor: pointer;
}

.small-circle-play{
    width: 80px;
    height:80px;
    position: absolute;
    /* background:rgb(231, 29, 29); */
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    border: 7px solid;
    z-index: 2;
    cursor: pointer;
}


.button-play{
    color: ivory;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;

    /* animation: play 2s infinite linear; */
}


/* @keyframes play {
    to {
      transform: rotate(180deg);
    }
  } */


  .game-over{
    height: 300px;
    width: 550px;
    
  }

  progress{
      display:flex;
      width: 550px;
      margin: 15px auto 0 auto;
      
  }


  .progress-container{
      display: none;
      background-color: transparent;
      width: 550px;
      margin: 0 auto 0 auto;
      padding: 3px 0 2px 0;
      
  }

  .time-check{
      display: inline-block;
      margin: 10px auto 10px auto;
      color: white;
  }




/* modal */

/* MODAL */
#openModal{
    /* align-self: center; */
    border-radius: 50%;
    border: none;
    width:2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top:3%; 
    margin-left:48.7%;   
    background-color: black;
    color: ivory;
    
}
#openModal:focus{
    outline:none;
}
.modal{
   width:50vw;
   background-color: ivory;
   border-radius: 5%;
   margin: 10% auto 0px;
   padding:1rem;
   display: none;
}
.modal-header{
    display: inline-block;
    width: 100%;
}
.modal-header>h2{
    float:left;
}
.modal-header>span{
    float: right!important;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
   
}
.modal-body>p{
    line-height: 1.5rem;
    margin-top:1rem;
}


.score{
    margin-top: 50px;
    display: block;
   color:black;
}

 @media all and (max-width:450px){
    #container-items{
        width: 350px;
        height: 300px;
        background-color: ivory;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 5px solid;
        margin-top:15px ;
        border-radius: 10%;
    }

    .button{
        height: 120px;
        width: 120px;
    }

    #container{
        margin-top:120px;
    }



    }